body {
	margin: 0;
	font-family: Arial, sans-serif;
}
  
.container {
	width: 1280px;
	margin: 0 auto;
	box-sizing: border-box;
}

h1 {
	font-size: 60px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
	margin: 0px;
	margin-bottom: 30px;
}

h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
	color: #445161;
	margin: 0;
}

/* header*/
.page-header {
	width: 100%;
	display: flex;
	background-color: #445161;	
    padding: 35px 50px 40px 50px;
	box-sizing: border-box;
	flex-wrap: wrap;
	justify-content: space-between;
}

.page-header-wrp {
	width: 50%;	
}

.page-header-pic {
	background-color: #ffffff;
	align-self: center;
}

.page-header-list {
	color: #ffffff;	
	padding: 0;
	margin: 0;
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;

}

.page-header-list-item {
	list-style-type: none;
	position: relative;
	padding: 0 0 0 30px;
	box-sizing: border;
}

.page-header-list-item:before {
	content: "";
	display: block;
	width: 25px;
	height: 19px;
	background-image: url('../img/check-icon.svg');
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 10px;
}

/* section product*/

.about-product {
	display: flex;
	box-sizing: border-box;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding: 50px;
}

.about-product-wrp {
	width: 57%;	
}

.about-product-title {
	margin: 0 0 30px 0;
}

.about-product-txt {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
	margin: 0 0 20px 0;
}

.about-product-txt:last-child {
	margin: 0;
}

.about-product-video {
	background-color: #445161;	
}

/* section dignity*/
.dignity {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 50px;
	padding-top: 40px;
	box-sizing: border-box;
	background-color: #f5f5f5;

}
  
.dignity-title {
	width: 100%;
	margin: 0 0 20px 0;
	text-align: center;
}
  
.dignity-item-wrp {
	width: 50%;
}
 

.dignity-item {
	width: 100%;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
	margin-bottom: 30px;
}

.dignity-item-wrp .dignity-item:last-child {
	margin-bottom: 0;	
}



.dignity-item-summary {
	display: block;
	position: relative;
	margin: 0;
	padding: 0 0 0 40px;
	box-sizing: border-box;
} 

.dignity-item-summary::-webkit-details-marker{
	display: none;
}

.dignity-item-summary:before {
	content: "";
	display: block;
	width: 32px;
	height: 32px;
	background-image: url('../img/icon_1.svg');
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	top: 4px;
	left: 0;
}

.dignity-item-summary:focus {
	outline: none;
}

.dignity-item[open] .dignity-item-summary:before {
	content: "";
	display: block;
	width: 32px;
	height: 32px;
	background-image: url('../img/icon_2.svg');
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	top: 4px;
	left: 0;
}

/* section screenshots*/

.screenshots {
	width: 100%;
	padding: 40px 50px 25px 50px;
	box-sizing: border-box;
}

.screenshots-title {
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-weight: 400;
	color: #445161;
	margin-bottom: 23px;

}

.screenshots-wrp {
	display: flex;
	box-sizing: border-box;
	flex-wrap: wrap;
	justify-content: space-between;

}

.screenshots-image {
	background-color: #445161;
	margin-top: 5px;
}

.screenshots-item {
	width: 50%;
	margin: 0 0 25px 0;
	display: flex;
}

.screenshots-item-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
	color: #445161;
	margin: 0 0 0 0;
}

.screenshots-figcaption {
 	margin-left: 15px;
	padding-right: 15px;
}

.screenshots-item-text {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
	margin: 7px 0 0 0;
}

/* comment */

.comment {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 40px 50px 25px 50px;
	padding-top: 40px;
	box-sizing: border-box;
	background-color: #f5f5f5;
}

.comment-title {
	width: 100%;
	margin: 0 0 25px 0;
	text-align: center;
}

.comment-item {
	width: 50%;
	display: flex;
}

.comment-img {
	border-radius: 50%;
	background-color: #445161;
	margin-right: 16px;
}

.comment-item:nth-child(2n+1) .comment-img {
    margin-left: 15px;
}

.comment-item-txt {
	width: 470px;
	margin: 0 0 24px 16px;
	border: 2px solid #ebebeb;
	padding: 10px 10px 10px 10px;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #ebebeb;
	position: relative;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	font-style: italic;
	color: #333333;
}
  
.comment-item-txt:before {
	content: "";
	display: block; 
	border: 10px solid transparent; 
	border-right: 10px solid #ebebeb;
	position: absolute;
	top: 26px;
	left: -22px;
}

.comment-item-txt-title {
	display: block;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #989898;
	font-style: normal;
	margin-top: 10px;
}
  

/*tariff*/

.tarif {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 40px 50px 50px 50px;
	box-sizing: border-box;	
	justify-content: center;
	align-items: flex-end;
}

.tarif-title {
	flex-grow: 1;
	width: 100%;
	text-align: center;
	margin-bottom: 29px;
}

.tarif-item {
	width: 300px;
	background-color: #445162;
	color: #fff;
	padding: 0 0 10px 0;
	box-sizing: border-box;
	border: 2px solid #445162;
	border-radius: 3px;
	margin-right: 45px;
}

.tarif-item:last-child{
	margin-right: 0;
}

.tarif-item-title {
	display: block;
	padding: 10px;
	color: #fff;
	text-align: center;
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
	box-sizing: border-box;
	margin: 0;
}

.tarif-item-price {
	display: block;
	padding: 18px;
	text-align: center;
	background-color: #fff;
	box-sizing: border-box;
	font-size: 40px;
	line-height: 30px;
	font-weight: 400;
	color: #445162;
}

.tarif-item-list {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
}

.tarif-item-btn {
	display: block;
	padding: 14px 111px 14px 111px;
	border: none;
	border-radius: 3px;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: #445162;
	margin: 0 auto;
	text-transform: uppercase;
	background-color: #fff;
}

.tarif-item-btn:hover {
	background-color: #ebebeb;
	color: ;
}
  
.tarif-item-btn:active {
	background-color: #ccc;
	color: #fff;
}

/* footer */

.page-footer {
	background-color: #445162;	
	padding: 20px;
	display: flex;
	box-sizing: border-box;
	flex-wrap: wrap;
}

.footer-title {
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
	flex-grow: 1;
	width: 100%;
	text-align: center;
}

.footer-button {
	display: block;
	padding: 13px 49px 13px 49px;
	border: none;
	border-radius: 3px;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: #445162;
	margin: 0 auto;
	text-transform: uppercase;
	background-color: #fff;
}

.footer-button:hover {
	background-color: #ebebeb;
	color: ;
}
  
.footer-button:active {
	background-color: #ccc;
	color: #fff;
}

.footer-write-form {
	width: 50%;
	display: flex;
	flex-direction: column;
}
.footer-user-login {
	display: block;
}


.footer-user-email {

}
