@font-face {
    font-family: fontello; /* Имя шрифта */
    src: url(../fonts/fontello.ttf); /* Путь к файлу со шрифтом */
   }


body {
	margin: 0;
	font-family: Arial, sans-serif;
}
  
.container {
	width: 1280px;
	margin: 0 auto;
	box-sizing: border-box;
}

h1 {
	font-size: 60px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
	margin: 0px;
	margin-bottom: 30px;
}

h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
	color: #445161;
	margin: 0;
}

/* header*/
.page-header {
	width: 100%;
	display: flex;
	background-color: #445161;	
    padding: 35px 50px 40px 50px;
	box-sizing: border-box;
	flex-wrap: wrap;
	justify-content: space-between;
}

.page-header-wrp {
	width: 50%;	
}

.page-header-pic {
	background-color: #ffffff;
	align-self: center;
}

.page-header-list {
	color: #ffffff;	
	padding: 0;
	margin: 0;
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;

}

.page-header-list-item {
	list-style-type: none;
	position: relative;
	padding: 0 0 0 30px;
	box-sizing: border;
}

.page-header-list-item:before {
	content: "";
	display: block;
	width: 25px;
	height: 19px;
	background-image: url('../img/check-icon.svg');
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	left: 0;
	top: 10px;
}

/* section product*/

.about-product {
	display: flex;
	box-sizing: border-box;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding: 50px;
}

.about-product-wrp {
	width: 57%;	
}

.about-product-title {
	margin: 0 0 30px 0;
}

.about-product-txt {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
	margin: 0 0 20px 0;
}

.about-product-txt:last-child {
	margin: 0;
}

.about-product-video {
	background-color: #445161;	
}

/* section dignity*/
.dignity {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 50px;
	padding-top: 40px;
	box-sizing: border-box;
	background-color: #f5f5f5;

}
  
.dignity-title {
	width: 100%;
	margin: 0 0 20px 0;
	text-align: center;
}
  
.dignity-item-wrp {
	width: 50%;
}
 

.dignity-item {
	width: 100%;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
	margin-bottom: 30px;
}

.dignity-item-wrp .dignity-item:last-child {
	margin-bottom: 0;	
}



.dignity-item-summary {
	display: block;
	position: relative;
	margin: 0;
	padding: 0 0 0 40px;
	box-sizing: border-box;
} 

.dignity-item-summary::-webkit-details-marker{
	display: none;
}

.dignity-item-summary:before {
	content: "";
	display: block;
	width: 32px;
	height: 32px;
	background-image: url('../img/icon_1.svg');
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	top: 4px;
	left: 0;
}

.dignity-item-summary:focus {
	outline: none;
}

.dignity-item[open] .dignity-item-summary:before {
	content: "";
	display: block;
	width: 32px;
	height: 32px;
	background-image: url('../img/icon_2.svg');
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	top: 4px;
	left: 0;
}

/* section screenshots*/

.screenshots {
	width: 100%;
	padding: 40px 50px 25px 50px;
	box-sizing: border-box;
}

.screenshots-title {
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-weight: 400;
	color: #445161;
	margin-bottom: 23px;

}

.screenshots-wrp {
	display: flex;
	box-sizing: border-box;
	flex-wrap: wrap;
	justify-content: space-between;

}

.screenshots-image {
	background-color: #445161;
	margin-top: 5px;
}

.screenshots-item {
	width: 49%;
	margin: 0 0 25px 0;
	display: flex;
}

.screenshots-item-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
	color: #445161;
	margin: 0 0 0 0;
}

.screenshots-figcaption {
 	margin-left: 15px;
	padding: 0;
}

.screenshots-item-text {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
	margin: 7px 0 0 0;
}

/* comment */

.comment {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 40px 50px 25px 50px;
	padding-top: 40px;
	box-sizing: border-box;
	background-color: #f5f5f5;
}

.comment-title {
	width: 100%;
	margin: 0 0 25px 0;
	text-align: center;
}

.comment-item {
	width: 50%;
	display: flex;
	margin: 0 0 24px 0;
}

.comment-img {
	border-radius: 50%;
	background-color: #445161;
	margin-right: 16px;
}

.comment-item:nth-child(2n+1) .comment-img {
    margin-left: 15px;
}

.comment-item-txt {
	width: 470px;
	margin: 0 0 0 16px;
	border: 2px solid #ebebeb;
	padding: 10px 10px 10px 10px;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #ebebeb;
	position: relative;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	font-style: italic;
	color: #333333;
}
  
.comment-item-txt:before {
	content: "";
	display: block; 
	border: 10px solid transparent; 
	border-right: 10px solid #ebebeb;
	position: absolute;
	top: 26px;
	left: -22px;
}

.comment-item-txt-title {
	display: block;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #989898;
	font-style: normal;
	margin-top: 10px;
}
  

/*tariff*/

.tarif {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 40px 50px 50px 50px;
	box-sizing: border-box;	
	justify-content: center;
	align-items: flex-end;
}

.tarif-title {
	flex-grow: 1;
	width: 100%;
	text-align: center;
	margin-bottom: 29px;
}

.tarif-item {
	width: 300px;
	background-color: #445162;
	color: #fff;
	padding: 0 0 10px 0;
	box-sizing: border-box;
	border: 2px solid #445162;
	border-radius: 3px;
	margin-right: 45px;
}

.tarif-item:last-child{
	margin-right: 0;
}

.tarif-item-title {
	display: block;
	padding: 10px;
	color: #fff;
	text-align: center;
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
	box-sizing: border-box;
	margin: 0;
}

.tarif-item-price {
	display: block;
	padding: 18px;
	text-align: center;
	background-color: #fff;
	box-sizing: border-box;
	font-size: 40px;
	line-height: 30px;
	font-weight: 400;
	color: #445162;
}

.tarif-item-list {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
	margin: 20px 0 0 0;
	padding: 0 0 0 20px;
	box-sizing: border-box;
	list-style-position: inside;
}

.tarif-item-btn {
	display: block;
	padding: 14px 111px 14px 111px;
	border: none;
	border-radius: 3px;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: #445162;
	margin: 10px auto 0 auto;
	text-transform: uppercase;
	background-color: #fff;
}

.tarif-item-btn:hover {
	background-color: #ebebeb;
}
  
.tarif-item-btn:active {
	background-color: #ccc;
	color: #fff;
}

/* footer */

.page-footer {
	background-color: #f5f5f5;
}
.page-footer-contacts {
	background-color: #445162;	
	padding: 20px 20px 40px 20px;
	display: flex;
	box-sizing: border-box;
	flex-wrap: wrap;
}

.footer-title {
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
	color: #ffffff;
	flex-grow: 1;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.footer-button {
	display: block;
	padding: 13px 45px 13px 45px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: #445162;
	margin-right: 25%;
	text-transform: uppercase;
	background-color: #fff;
	box-sizing: border-box;
	cursor: pointer;
}

.footer-button:hover {
	background-color: #ebebeb;
}
  
.footer-button:active {
	background-color: #253130;
	color: #fff;
}

.footer-write-form {
	width: 59%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

input,
textarea {
  	outline: none;
}

.footer-write-form input[type="text"]:focus,
.footer-write-form input[type="email"]:focus,
input:focus,
textarea:focus {
 	border: 2px solid #253130;
}

.footer-write-form input[type="text"],
.footer-write-form input[type="email"] {
	margin: 0 0 20px 0;
	border: 2px solid #fff;	
	border-radius: 5px;
	padding: 8px 14px 8px 10px;
	box-sizing: border-box;
}

.footer-write-form input[type="text"]:hover,
.footer-write-form input[type="email"]:hover,
.footer-write-form textarea:hover {
	background-color: #ebebeb;
	border-color: #fff;	
}

.footer-user-login {
	display: block;
	background-color: #fff;	
	width: 500px;
	box-sizing: border-box;
}

input[placeholder],
textarea[placeholder] {
  text-overflow:ellipsis;
  font-family: Arial;
  color:  #445162;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}  


.footer-user-email {
	display: block;
	background-color: #fff;	
	width: 500px;
	box-sizing: border-box;
}

.footer-user-message {
	display: block;
	background-color: #fff;	
	width: 500px;
	resize: none;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 14px 14px 14px 10px;
	margin: 0 0 20px 0;
}
.footer-social {
	display: flex;
    flex-direction: column;
	align-items: flex-start;
	width: 40%;
}

.footer-social-list {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
	margin: 0;
}

.footer-social-item {
	margin: 0 0 21px 0;
	list-style-type: none;
	position: relative;
	padding: 0 0 0 30px;
	box-sizing: border-box;
}

.footer-social-item:last-child {
	margin-bottom: 0;
}

.footer-social-item:before {
	font-family: fontello;
	color: #ffffff;
	margin-right: 10px; 
	display: block;
	box-sizing: border-box;
	font-size: 26px;
	position: absolute;
	top: 1px;
	left: 0;
}

.footer-social-item:first-child:before {
	font-family: FontAwesome;
	content: "\f17e"; 
}

.footer-social-item:nth-child(2):before {
	content: "\F304"; 
}

.footer-social-item:nth-child(3):before {
	content: "\e801"; 
}

.footer-social-item:nth-child(4):before {
	content: "\e802"; 
}

.footer-social-icons-list {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	margin: 32px 0 0 0;
}


.footer-social-icons-item {
	display: block;
	list-style-type: none;
	position: relative;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background-color: #ffffff;
	box-sizing: border-box;
	margin: 0 7px 0 0;
	cursor: pointer;
}
  
.footer-social-icons-item:before {
    font-family: fontello;
    color: #445162;
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 20%;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.footer-social-icons-item:nth-child(1):before {
	content: "\f303";
}

.footer-social-icons-item:nth-child(2):before {
	content: "\f300";	
}

.footer-social-icons-item:nth-child(3):before {
	content: "\f31a";	
}

.footer-social-icons-item:nth-child(4):before {
	content: "\e803";	
}

.footer-social-icons-item:nth-child(5):before {
	content: "\f167";	
}

.footer-social-icons-item:nth-child(1):hover {
	background-color: #ebebeb;
}

.footer-social-icons-item:nth-child(2):hover {

	background-color: #ebebeb;
}

.footer-social-icons-item:nth-child(3):hover {
	background-color: #ebebeb;
}

.footer-social-icons-item:nth-child(4):hover {
	background-color: #ebebeb;

}

.footer-social-icons-item:nth-child(5):hover {
	background-color: #ebebeb;
}

.footer-social-icons-item:nth-child(1):active {
	background-color: #253130;
}

.footer-social-icons-item:nth-child(2):active {

	background-color: #253130;
}

.footer-social-icons-item:nth-child(3):active {
	background-color: #253130;
}

.footer-social-icons-item:nth-child(4):active {
	background-color: #253130;

}

.footer-social-icons-item:nth-child(5):active {
	background-color: #253130;
}


.footer-social-icons-item:nth-child(1):active:before {
	color: #ffffff;
}

.footer-social-icons-item:nth-child(2):active:before {
	color: #ffffff;	
}

.footer-social-icons-item:nth-child(3):active:before {
	color: #ffffff;	
}

.footer-social-icons-item:nth-child(4):active:before {
	color: #ffffff;	
}

.footer-social-icons-item:nth-child(5):active:before {
	color: #ffffff;	
}


.footer-copyright {
	width: 100%;
	background-color: #f5f5f5;
	text-align: center;
	color: #445162;
	font-size: 12px;
	padding: 0 0 30px 0;
}